@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<address>
    <h3>Contact me: </h3>
    <strong>My projects directory: </strong> <a href="https://github.com/YanAmorelli"> Yan's Github</a> <br />
    <strong> My LinkedIn: </strong> <a href="https://www.linkedin.com/in/yan-liao-amorelli-0566b6175/">Yan's LinkedIn</a> <br />
    <strong> Mail: </strong> <a href="1404yan@gmail.com">1404yan@gmail.com</a>
</address>


<p> Creator @ViewData["Creator"]</p>


