@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Yan Liao Amorelli<br />
    Contact number: 21 990025482<br />
    Brazilian
</address>

<address>
    <strong>Support:</strong> <a href="1404yan@gmail.com">1404yan@gmail.com</a><br />
    <strong>Work Mail:</strong> <a href="yan.amorelli@trescon.com.br">yan.amorelli@trescon.com.br</a>
</address>
